#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.register-panel {
  background: linear-gradient(180deg, #1b0028 0%, #0e020f 100%);
  border: 1px solid #4a2c62;
  border-radius: 24px;
}
.register-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.register-row .label-text {
  width: 30%;
  text-align: right;
}
.register-row .input-wrapper {
  width: 70%;
}
.register-row input,
.register-row select {
  width: 100%;
}
.register-row .input-wrapper {
  width: 70%;
}
.register-row input,
.register-row select {
  width: 100%;
}
.register-field {
  width: 100%;
  max-width: 260px;
  min-width: 260px;
}
.register-panel form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.register-row .input-wrapper,
.register-row input,
.register-row select,
.register-field {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
}
